<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Monday, August 16</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>         <td><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell</a> </td> </tr>
      <tr> <td>10:45</td>         <td>Morning Break</td> </tr>
      <tr> <td>11:00</td>         <td>The Unix Shell continued</td> </tr>
      <tr> <td>12:00</td>         <td>Lunch Break</td> </tr>
      <tr> <td>01:00</td>         <td>Introduction to R</td> </tr>
      <tr> <td>02:30</td>         <td>Afternoon Break</td> </tr>
      <tr> <td>02:45</td>         <td>Introduction to R continued</td> </tr>
      <tr> <td>04:00</td>         <td>End of Day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Tuesday, August 17</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>         <td>Advanced R Programming</td> </tr>
      <tr> <td>10:45</td>         <td>Morning Break</td> </tr>
      <tr> <td>11:00</td>         <td>Advanced R Programming continued</td> </tr>
      <tr> <td>12:00</td>         <td>Lunch Break</td> </tr>
      <tr> <td>01:00</td>         <td>Version Control with Git</td> </tr>
      <tr> <td>02:30</td>         <td>Afternoon Break</td> </tr>
      <tr> <td>02:45</td>         <td>Version Control with Git continued</td> </tr>
      <tr> <td>03:55</td>         <td>Wrap-Up</td> </tr>
      <tr> <td>End</td>           <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
